* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.85);
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 0 1rem;
}

button {
  border: none;
  font-size: 1rem;
}

.btn {
  padding: .5rem .75rem;
  border-radius: .25rem;
}

.btn.default {
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.85);
}

.btn.primary {
  background: #056696;
  color: rgba(255, 255, 255, 0.85);
}

.btn.primary:hover {
  background: #034465;
}

.btn.accent {
  background: #5CB85C;
  color: rgba(255, 255, 255, 0.85);
}

.btn.accent:hover {
  background: #449d44;
}

input {
  -webkit-appearance: none;
  display: inline-block;
  height: 2rem;
  padding: .5rem .75rem;
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.navbar {
  display: block;
  height: 3rem;
  padding: 0 1rem;
  line-height: 3rem;
}

.navbar.bg-primary {
  background: #056696;
  color: rgba(255, 255, 255, 0.85);
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

p {
  margin-bottom: 1rem;
}

.float-left {
  display: inline-block;
  float: left;
}

.float-right {
  display: inline-block;
  float: right;
}
