// ********************************************
// Site Colors
// ********************************************
$primary : #056696;
$accent  : #5CB85C;
$default : #e6e6e6;

// ********************************************
// Text
// ********************************************
$white-text : rgba(255,255,255,.85);
$dark-text : rgba(0,0,0,.85);

$body-text : 1rem;


$border-radius : .25rem;
